<a href="https://colab.research.google.com/github/TechnicalMindset/Hands-On-labs/blob/main/Extract%2C_Transform%2C_and_Load_Data_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìä **ETL Lab ‚Äì Extract, Transform, Load i Python**

---

## üß† **Introduktion**

**ETL st√•r f√∂r "Extract, Transform, Load".** Det √§r en vanlig process inom datahantering d√§r data h√§mtas fr√•n olika k√§llor (extract), bearbetas (transform), och sparas i ett strukturerat format (load).

I detta labb kommer vi:
- L√§sa filer i formaten **CSV**, **JSON** och **XML**
- Transformera och kombinera datan
- Spara den i ett **CSV-format** och **ladda in den i en SQLite-databas**
- G√∂ra lite grundl√§ggande **analys och visualisering**

---

## üìÅ **Steg 1: Importera bibliotek**

```python
import pandas as pd
import json
import xml.etree.ElementTree as ET
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

#**üìÑ Steg 2: L√§s in CSV-data**

In [ ]:
csv_data = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
})
csv_data.to_csv("people.csv", index=False)

df_csv = pd.read_csv("people.csv")
print("üìÑ CSV data:")
print(df_csv)

#**üìÑ Steg 3: L√§s in JSON-data**

In [ ]:
json_data = {
    "employees": [
        {"id": 4, "name": "Diana", "age": 28},
        {"id": 5, "name": "Ethan", "age": 40}
    ]
}

with open("people.json", "w") as f:
    json.dump(json_data, f)

with open("people.json", "r") as f:
    data_json = json.load(f)

df_json = pd.DataFrame(data_json["employees"])
print("\nüìÑ JSON data:")
print(df_json)

#**üìÑ Steg 4: L√§s in XML-data**

In [ ]:
xml_content = '''<?xml version="1.0"?>
<people>
    <person>
        <id>6</id>
        <name>Fiona</name>
        <age>22</age>
    </person>
    <person>
        <id>7</id>
        <name>George</name>
        <age>33</age>
    </person>
</people>
'''

with open("people.xml", "w") as f:
    f.write(xml_content)

tree = ET.parse("people.xml")
root = tree.getroot()

xml_data = []
for person in root.findall("person"):
    id_ = int(person.find("id").text)
    name = person.find("name").text
    age = int(person.find("age").text)
    xml_data.append({"id": id_, "name": name, "age": age})

df_xml = pd.DataFrame(xml_data)
print("\nüìÑ XML data:")
print(df_xml)

#**üîÅ Steg 5: Transformera och kombinera datan**

In [ ]:
df_all = pd.concat([df_csv, df_json, df_xml], ignore_index=True)

# S√§kerst√§ll datatyper
df_all["id"] = df_all["id"].astype(int)
df_all["name"] = df_all["name"].astype(str)
df_all["age"] = df_all["age"].astype(int)

print("\nüëâ Sammanfogad data:")
print(df_all)

#**üßπ Steg 6: Rensa data**

In [ ]:
# L√§gg till en duplicerad rad och en rad med null-v√§rde
df_all.loc[len(df_all)] = [2, "Bob", 30]
df_all.loc[len(df_all)] = [8, None, None]

print("\nüîç F√∂re rensning:")
print(df_all)

# Ta bort null-v√§rden
df_all = df_all.dropna()

# Ta bort dubbletter
df_all = df_all.drop_duplicates()

print("\n‚úÖ Efter rensning:")
print(df_all)

#**üìà Steg 7: Enkel dataanalys**

In [ ]:
print("\nüìä Statistik:")
print(df_all.describe())

print("\nüë• Antal personer per √•lder:")
print(df_all.groupby("age").count()[["name"]])

#**üñºÔ∏è Steg 8: Visualisering**

In [ ]:
plt.figure(figsize=(6, 4))
sns.histplot(df_all["age"], kde=True, bins=5)
plt.title("√Öldersf√∂rdelning")
plt.xlabel("√Ölder")
plt.ylabel("Antal personer")
plt.grid(True)
plt.show()

#**üíæ Steg 9: Spara den transformerade datan till CSV**

In [ ]:
df_all.to_csv("transformed_data.csv", index=False)
print("\nüíæ Datan sparades till 'transformed_data.csv'")

#**üóÑÔ∏è Steg 10: Ladda datan till en SQLite-databas**

In [ ]:
conn = sqlite3.connect("people.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS people (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")

df_all.to_sql("people", conn, if_exists="replace", index=False)

print("\nüîÑ Data i SQLite-databasen:")
result = pd.read_sql("SELECT * FROM people", conn)
print(result)

conn.close()

## **Open Source Collaboration Notice** ‚ö†Ô∏è

- This work is open source and is released under the **Creative Commons Attribution-NonCommercial (CC BY-NC)** License.
- This project has been made possible through the contributions of **IBM Corporation**.

The practical Quiz, originally developed by **IBM**, has been recreated and further refined by **Alison Rodriguez x Technical Mindset** for educational and personal use.